<div id="blogwrap">
    <div class="blog-centered">
        {% if include.title %}<h3>{{ include.title }}</h3>{% endif %}
        <div class="recentitems blog">
            {% for page in site.categories['blog'] %}
                <div class="blog-item graphic-design">
                    <div class="he-wrap tpl6">
                    <img class="img-responsive" src="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}">
                        <div class="he-view">
                            <div class="bg a0" data-animate="fadeIn">
                                <h3 class="a1" data-animate="fadeInDown">{{ page.title }}</h3>
                                <a data-rel="prettyPhoto" href="{{ "/assets/img/blog/" | prepend: site.baseurl }}{{ page.img }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-search"></i></a>
                                <a href="{{  page.url | prepend: site.baseurl }}" class="dmbutton a2" data-animate="fadeInUp"><i class="fa fa-link"></i></a>
                            </div><!-- he bg -->
                        </div><!-- he view -->    
                    </div><!-- he wrap -->
                </div><!-- end col-12 -->
            {% endfor %}
        </div><!-- blog -->
    </div><!-- blog container -->
</div><!--/blogwrap -->