<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="photo-force" style="background-image: url({{ "/assets/img/hills.jpeg" | prepend: site.baseurl }})">
      </div>
      
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Empiria</h1><br/>
        <h5>{{site.about}</h5>
        <br/>
        <br/>
        <br/>
        <a class="btn btn-lg btn-primary" href="{{ "/blog" | prepend: site.baseurl }}">Find Some Games! &raquo;</a>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->