<div id="headerwrap">
  <div class="container">
    <div class="row">
      <div class="photo-force" style="background-image: url({{ "/assets/img/hills.jpeg" | prepend: site.baseurl }})">
      </div>
      
      <div class="col-lg-8 col-lg-offset-2">
        <h1>Empiria</h1><br/>
        <h3>The print and play board game.</h3><br/>
        <h5>Print out the assets, get some standard 52 card decks, and grow your empire!</h5><br/>

        <a href="btn btn-lg btn-primary" href="{{ "/how-to-play" | prepend: site.baseurl }}">Read the Rule Now! &raquo;</a>
      </div>
    </div><!-- /row -->
  </div> <!-- /container -->
</div><!-- /headerwrap -->