<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="photo-force" style="background-image: url({{ "/assets/img/hills.jpeg" | prepend: site.baseurl }})">
            </div>
            
            <div class="col-lg-8 col-lg-offset-2">
                <h1>Empiria</h1>
                <h3>The print and play board game.</h3>
                <h5>Print out the assets, get some standard 52 card decks, and grow your empire!</h5>				
            </div>
        </div><!-- /row -->
    </div> <!-- /container -->
</div><!-- /headerwrap -->